@font-face {
    font-family: "OpenSans-Regular";
    src: url("./font/Open_Sans/OpenSans-Regular.ttf");
}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "OpenSans-Regular", serif;
}

html {
    font-family: "Montserrat", sans-serif;
}

body {
    background-color: #eee;
    background-image: url("./images/cubes.png");
    display: grid;
    grid-template-rows: 1fr auto 1fr;
}

header {
    top: 0;
    z-index: 1000;
    min-width: 100%;
    background-color: #F5BA13;
    padding: 16px 32px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

header h1 {
    color: #2B2B2B;
    font-family: "McLaren", cursive;
    font-size: 34px;
    font-weight: 200;
    padding: 10px;
}

footer {
    position: fixed;
    text-align: center;
    bottom: 0;
    width: 100%;
    height: 100px;
    background: #F5BA13;
}

footer p {
    padding-top: 50px;
    font-size: 24px;
    color: #2B2B2B;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}



.task {
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 2px 5px #ccc;
    padding: 20px;
    width: 240px;
    margin: 16px;
    float: left;
}

.task h1 {
    font-size: 1.1em;
    margin-bottom: 6px;
}

.task p {
    font-size: 24px;
    margin-bottom: 10px;
    white-space: pre-wrap;
    word-wrap: break-word;
}

.task button {
    position: relative;
    float: right;
    margin-right: 20px;
    color: #FFFFFF;
    background-color: #f5ba13;
    border: 1px solid #2B2B2B;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
    border-radius: 50px;
    width: 50px;
    height: 50px;
    cursor: pointer;
    outline: none;
}

.task button:hover {
    background-color: #C11F1E;
    color: #FFFFFF;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

form.create-task {
    position: relative;
    width: 480px;
    margin: 30px auto 20px auto;
    background: #fff;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);
}

form.create-task input,
form.create-task textarea {
    width: 100%;
    border: none;
    padding: 4px;
    outline: none;
    font-size: 24px;
    resize: none;
}


form.create-task button {
    position: absolute;
    right: 18px;
    bottom: -18px;
    background: green;
    color: #fff;
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    outline: none;
}

form.create-task button:hover {
    background-color: #45a049;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

@media (max-width: 768px) {

    header h1 {
        font-size: 28px;
    }

    form.create-task {
        width: 80%;
        padding: 20px;
        float: none;

    }

    .task {
        margin: 50px 20px 50px 20px;
        width: 80%;
        float: none;
    }

    .task button {
        margin-right: 10px;
        color: #FFFFFF;
        background-color: #C11F1E;
        width: 42px;
        height: 42px;

    }

    .task button:hover {
        background-color: #C11F1E;
        border: 1px solid #FFFFFF;
    }
}
